extends layout-home

block content
    div.ui.menu
        div.header.item CAPS
        a.active.item(href='/home') Home
        a.item(href='/home') About
        div.right.menu
            div.text.item(id='nameMenu') #{user.firstName} #{user.lastName}
            a.item(href='/logoff')
                <i class="sign out icon"></i>
    div.container(style='width:650px; position:relative; margin:0px auto' id='info')
        div.column.three.wide
            div.ui.top.attached.tabular.menu.three.item
                div.active.item(data-tab="sensor") Sensors
                div.item(data-tab="alert") Alerts
                div.item(data-tab="account") Account
            div.ui.bottom.attached.active.tab.segment(data-tab="sensor" id="sensorTab")
                form.ui.form(id='updateSensorForm' method='POST' action='/changepriority')
            div.ui.bottom.attached.tab.segment(data-tab="alert")
                p Maybe later
            div.ui.bottom.attached.tab.segment(data-tab="account")
                div.ui.divided.very.relaxed.list
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editName')
                            i.icon.edit(style='color:white;')
                        i.user.icon(style='font-size:36px;')
                        div.content
                            div.header Name
                            p(id='userName') #{user.firstName} #{user.lastName}                        
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editEmail')
                            i.icon.edit(style='color:white;')
                        i.mail.icon(style='font-size:36px;')
                        div.content
                            div.header Email
                            p(id='userEmail') #{user.email}
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editPass')
                            i.icon.edit(style='color:white;')
                        i.lock.icon(style='font-size:36px;')
                        div.content
                            div.header Password
                            p(id='userPass') ••••••••••••
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editPhone')
                            i.icon.edit(style='color:white;')
                        i.call.icon(style='font-size:36px;')
                        div.content
                            div.header Phone Number
                            p(id='userPhone') #{user.phoneNumber}
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editDevice')
                            i.icon.edit(style='color:white;')
                        i.bullseye.icon(style='font-size:36px;')
                        div.content
                            div.header Device ID
                            p(id='userDevice') #{user.deviceNumber}
    //- MODALS -
    div.ui.small.modal(id='verifyPhoneModal')
        div.header Verify Phone Number
        div.content
            div.ui.negative.hidden.message(id='verifyPhoneError', style='padding: 10px 1em; font-size:12px;')
                ul.list(id='verifyPhoneList')
                    li Hi
            form.ui.attached.fluid.segment.form(style='text-align:center')
                p(style='text-align:center') A text message has been sent to this number:
                div.field
                    div.ui.input
                        input(id='verifyNumber' name='phoneNumber' placeholder='Phone Number' type='tel' style='padding-left:45px; width:166px; text-align:center')
                p(style='text-align:center') Please enter the code sent to complete the registration:
                div.field
                    div.ui.input
                        input(id='verifyToken' name='verifyToken' placeholder='Code' style='width:100px; text-align:center')
        div.actions
            div.two.fluid.buttons
                div.ui.deny.button Resend
                div.ui.positive.green.button Verify
    div.ui.small.modal(id='editNameModal')
        i.close.icon
        div.header Change Name
        div.content
            div.ui.negative.hidden.message(id='editNameError')
                p Please enter a name
            form.ui.attached.fluid.segment.form
                div.two.fields
                    div.field
                        label First Name
                        input(name='firstName' placeholder='First Name' type='text')
                    div.field
                        label Last Name
                        input(name='lastName' placeholder='Last Name')
        div.actions
            div.two.fluid.buttons
                div.ui.positive.green.button
                    i.checkmark.icon
    div.ui.small.modal(id='editEmailModal')
        i.close.icon
        div.header Change Email
        div.content
            div.ui.negative.hidden.message(id='editEmailError')
                p Please enter your email
            form.ui.attached.fluid.segment.form
                div.field
                    label New Email
                    input(name='email' placeholder='Email' type='email')
        div.actions
            div.two.fluid.buttons
                div.ui.positive.green.button
                    i.checkmark.icon
    div.ui.small.modal(id='editPassModal')
        i.close.icon
        div.header Change Password
        div.content
            div.ui.negative.hidden.message(id='editPassError')
                p Please enter a password
            form.ui.attached.fluid.segment.form
                div.field
                    label Please enter your current password
                    input(name='password' placeholder='Current Password' type='password')
                div.two.fields
                    div.field
                        label New Password
                        input(name='newpassword' placeholder='New Password' type='password')
                    div.field
                        label Confirm Password
                        input(name='conpassword' placeholder='Confirm New Password' type='password')
        div.actions
            div.two.fluid.buttons
                div.ui.positive.green.button
                    i.checkmark.icon
    div.ui.small.modal(id='editPhoneModal')
        i.close.icon
        div.header Change Phone Number
        div.content
            div.ui.negative.hidden.message(id='editPhoneError')
                p Please enter a password
            form.ui.attached.fluid.segment.form
                div.field
                    label New Phone Number
                    div.ui.labeled.input
                        div.ui.label +1
                        input(name='phoneNum' placeholder='Phone Number' type='tel')
        div.actions
            div.two.fluid.buttons
                div.ui.positive.green.button
                    i.checkmark.icon
    script(type='text/javascript').
        var userData = !{JSON.stringify(user)};
        var deviceData = !{JSON.stringify(device)};
