extends layout-home

block content
    div.ui.menu
        div.header.item CAPS
        a.active.item(href='/home') Home
        a.item(href='/alerts') Alerts
        div.right.menu
            div.text.item(id='nameMenu') #{user.firstName} #{user.lastName}
            a.item(href='/logoff')
                <i class="sign out icon"></i>
    div.container(style='width:500px; position:relative; margin:0px auto' id='info')
        div.column.three.wide
            div.ui.top.attached.tabular.menu.three.item
                div.active.item(data-tab="sensor") Sensors
                div.item(data-tab="alert") Recent Alerts
                div.item(data-tab="account") Account
            div.ui.bottom.attached.active.tab.segment(data-tab="sensor" id="sensorTab")
                form.ui.form(id='updateSensorForm' method='POST' action='/changepriority')
            div.ui.bottom.attached.tab.segment(data-tab="alert")
                div.container(id='alertContainer' style='padding-bottom:12px')
                    p(id='noAlert') No alerts yet!
                a.ui.right.floated.button(href='/alerts') View all alerts
            div.ui.bottom.attached.tab.segment(data-tab="account")
                div.ui.divided.very.relaxed.list
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editName')
                            i.icon.edit(style='color:white;')
                        i.user.icon(style='font-size:36px;')
                        div.content
                            div.header Name
                            p(id='userName') #{user.firstName} #{user.lastName}                        
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editEmail')
                            i.icon.edit(style='color:white;')
                        i.mail.icon(style='font-size:36px;')
                        div.content
                            div.header Email
                            p(id='userEmail') #{user.email}
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editPass')
                            i.icon.edit(style='color:white;')
                        i.lock.icon(style='font-size:36px;')
                        div.content
                            div.header Password
                            p(id='userPass') ••••••••••••
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editPhone')
                            i.icon.edit(style='color:white;')
                        i.call.icon(style='font-size:36px;')
                        div.content
                            div.header Phone Number
                            p(id='userPhone') #{user.phoneNumber}
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editEPhone')
                            i.icon.edit(style='color:white;')
                        i.call.icon(style='font-size:36px;')
                        div.content
                            div.header Emergency Number
                            p(id='userEmergency') #{user.emergencyNumber}
                    div.item
                        div.right.floated.circular.compact.ui.icon.button(id='editDevice')
                            i.icon.edit(style='color:white;')
                        i.bullseye.icon(style='font-size:36px;')
                        div.content
                            div.header Device ID
                            p(id='userDevice') #{user.deviceNumber}
    //- MODALS -
    div.ui.small.modal(id='verifyPhoneModal')
        div.header Verify Phone Number
        div.content(style='padding-top:12px;')
            div.ui.negative.hidden.message(id='verifyPhoneError', style='padding: 8px 10px; font-size:12px;')
                ul.list(id='verifyPhoneList')
                    li Hi
            form.ui.attached.fluid.segment.form(style='text-align:center')
                p(style='text-align:center') A text message has been sent to this number:
                div.field(id='verifyNumberField')
                    div.ui.input
                        input(id='verifyNumber' name='phoneNumber' placeholder='Phone Number' type='tel' style='padding-left:45px; width:166px;' autofocus)
                p(style='text-align:center') Please enter the code sent to complete the registration
                div.field(id='verifyTokenField')
                    div.ui.input
                        input(id='verifyToken' name='verifyToken' placeholder='Code' autofocus style='width:100px; text-align:center')
        div.actions
            div.ui.deny.primary.button Resend
            div.ui.positive.green.button Verify
            a.ui.left.floated.button(href='/logoff') Logoff
    //- NAME MODAL
    div.ui.small.modal(id='editNameModal')
        i.close.icon
        div.header Change Name
        div.content(style='padding-top:12px;')
            div.ui.negative.hidden.message(id='editNameError' style='padding: 8px 20px; font-size:12px;')
                ui.list(id='editNameList')
                    li Hi
            form.ui.attached.fluid.segment.form
                div.two.fields
                    div.field(id='firstNameField')
                        label First Name
                        input(id='firstName' name='firstName' placeholder='First Name' type='text' autofocus)
                    div.field(id='lastNameField')
                        label Last Name
                        input(id='lastName' name='lastName' placeholder='Last Name')
        div.actions
            div.ui.positive.green.button
                i.checkmark.icon
    //- EMAIL MODAL
    div.ui.small.modal(id='editEmailModal')
        i.close.icon
        div.header Change Email
        div.content(style='padding-top:12px;')
            div.ui.negative.hidden.message(id='editEmailError' style='padding: 8px 20px; font-size:12px;')
                ui.list(id='editEmailList')
                    li Hi
            form.ui.attached.fluid.segment.form
                div.field(id='emailField')
                    label New Email
                    input(id='email' name='email' placeholder='Email' type='email' autofocus)
        div.actions
            div.ui.positive.green.button
                i.checkmark.icon
    //- PASSWORD MODAL
    div.ui.small.modal(id='editPassModal')
        i.close.icon
        div.header Change Password
        div.content(style='padding-top:12px;')
            div.ui.negative.hidden.message(id='editPassError' style='padding: 8px 20px; font-size:12px;')
                ui.list(id='editPassList')
                    li Hi
            form.ui.attached.fluid.segment.form
                div.field(id='curPassField')
                    label Please enter your current password
                    input(id='curpassword' name='password' placeholder='Current Password' type='password' autofocus)
                div.two.fields
                    div.field(id='newPassField')
                        label New Password
                        input(id='newpassword' name='newpassword' placeholder='New Password' type='password')
                    div.field(id='conPassField')
                        label Confirm Password
                        input(id='conpassword' name='conpassword' placeholder='Confirm New Password' type='password')
        div.actions
            div.ui.positive.green.button
                i.checkmark.icon
    //- PHONE MODAL
    div.ui.small.modal(id='editPhoneModal')
        i.close.icon
        div.header Change Phone Number
        div.content(style='padding-top:12px;')
            div.ui.negative.hidden.message(id='editPhoneError' style='padding: 8px 20px; font-size:12px;')
                ui.list(id='editPhoneList')
                    li Hi
            form.ui.attached.fluid.segment.form(style='text-align:center')
                p(style='text-align:center') Please enter your new phone number:
                div.field(id='currentNumberField')
                    div.ui.input
                        input(id='currentNumber' name='currentNumber' placeholder='Phone Number' type='tel' style='padding-left:45px; width:166px;' autofocus)
                p(style='text-align:center') Press the send button to get a verification code. Enter the code to complete the process:
                div.field(id='newNumberTokenField')
                    div.ui.input
                        input(id='newNumberToken' name='newNumberToken' placeholder='Code' autofocus style='width:100px; text-align:center')
        div.actions
            div.ui.deny.primary.button Send
            div.ui.positive.green.button
                i.checkmark.icon
    //- EPHONE MODAL
    div.ui.small.modal(id='editEPhoneModal')
        i.close.icon
        div.header Change Emergency Number
        div.content(style='padding-top:12px;')
            div.ui.negative.hidden.message(id='editEPhoneError' style='padding: 8px 20px; font-size:12px;')
                ui.list(id='editEPhoneList')
                    li Hi
            form.ui.attached.fluid.segment.form
                div.field(id='emergencyNumberField')
                    label New Emergency Number
                    input(id='emergencyNumber' name='emergencyNumber' placeholder='Emergency Number' type='tel' style='padding-left:45px;' autofocus)
        div.actions
            div.ui.positive.green.button
                i.checkmark.icon
    //- DEVICE MODAL
    div.ui.small.modal(id='editDeviceModal')
        i.close.icon
        div.header Change Emergency Number
        div.content(style='padding-top:12px;')
            div.ui.negative.hidden.message(id='editDeviceError' style='padding: 8px 20px; font-size:12px;')
                ui.list(id='editDeviceList')
                    li Hi
            form.ui.attached.fluid.segment.form
                div.field(id='deviceIdField')
                    label New Device ID
                    input(id='deviceId' name='deviceId' placeholder='Device ID' type='text' autofocus)
        div.actions
            div.ui.positive.green.button
                i.checkmark.icon

    script(type='text/javascript').
        var userData = !{JSON.stringify(user)};
        var deviceData = !{JSON.stringify(device)};
        var alertsData = !{JSON.stringify(alerts)};
