extends layout-home

block content
    div.ui.menu
        div.header.item CAPS
        a.active.item(href='/home') Home
        a.item(href='/home') About
        div.right.menu
            div.text.item #{user.firstName} #{user.lastName}
            a.item(href='/logoff')
                <i class="sign out icon"></i>
    div.container(style='width:650px; position:relative; margin:0px auto' id='info')
        div.column.three.wide
            div.ui.top.attached.tabular.menu.three.item
                div.active.item(data-tab="sensor") Sensors
                div.item(data-tab="alert") Alerts
                div.item(data-tab="accnt") Account
            div.ui.bottom.attached.active.tab.segment(data-tab="sensor" id="sensorTab")
                form.ui.form(id='updateSensorForm' method='POST' action='/changepriority')
            div.ui.bottom.attached.tab.segment(data-tab="alert")
                p Maybe later
            div.ui.bottom.attached.tab.segment(data-tab="accnt")
                div.ui.divided.very.relaxed.list
                    div.item
                        i.user.icon(style='font-size:36px;')
                        div.content
                            div.header Name
                            p #{user.firstName} #{user.lastName}
                    div.item
                        i.mail.icon(style='font-size:36px;')
                        div.content
                            div.header Email
                            p #{user.email}
                    div.item
                        i.lock.icon(style='font-size:36px;')
                        div.content
                            div.header Password
                            p #{user.password}
                    div.item
                        i.call.icon(style='font-size:36px;')
                        div.content
                            div.header Phone Number
                            p #{user.phoneNumber}
                    div.item
                        i.bullseye.icon(style='font-size:36px;')
                        div.content
                            div.header Device ID
                            p #{user.deviceNumber}

                //- p Name: #{user.firstName} #{user.lastName}
                //- p Email: #{user.email}
                //- p Password: #{user.password}
                //- p Phone Number: #{user.phoneNumber}
                //- p Device Number: #{user.deviceNumber}
    script(type='text/javascript').
        var userData = !{JSON.stringify(user)};
        var deviceData = !{JSON.stringify(device)};
